body {
  font-family: helvetica;
  font-size: 16px;
  background: #eee;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

nav.container {
  background: #333;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0;
  padding-right: 20px;
}

nav ul li a {
  display: inline-block;
  color: #fff;
}


label,
input {
  display: block;
  width: 200px
}

label {
  font-weight: bold;
}

label.plain {
  font-weight: normal;
}


input {
  padding: 3px 5px;
}

input[type='file'] {
  display: none;
}

input[type='checkbox'] {
  display: inline-block;
  width: auto;
}

input[type='submit'] {
  width: auto;
}

select {
  width: 210px;
  padding-top: 5px;
  padding-bottom: 5px;
}

table {
  width: 100%;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 5px;
  border-collapse:collapse 
}


table thead {
  padding: 10px 0;
  font-weight: bold;
  font-size: 16px;
}

table thead tr {
  background: #999;
}

table tbody tr:nth-child(odd) {
  background: #eee;
}

table tbody tr:nth-child(even) {
  background: #ddd;
}

table th {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

table td {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#content {
  padding-top: 20px;
  padding-bottom: 50px;
}

.container {
  width: 960px;
  margin: 0px auto;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  color: #fff;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 5px;
  background: green;
  border: 1px solid darkgreen;
}

.button:hover {
  background: darkgreen;
}


table.calendar td div {
  font-size: 12px;
  height: 100px;
  text-align: left;
  overflow: hidden;
  position: relative;
}

table.calendar td div.date {
  background: #333;
  color: #fff;
  height: auto;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}


table.calendar td div.task {
  height: auto;
  padding-left: 5px;
  
 }

table.calendar td div.task span.name {
  font-weight: bold;
}

table.calendar td div h3 {
  padding-top: 3px;
  padding-bottom: 3px;
}



table.calendar td {
  padding: 0;
  position: relative;
}



table.calendar div.title h3{
  text-align: center;
  transform: rotate(270deg);
  transform-origin: 70% 100%;

}

table.calendar td div.developers.title {
  overflow: hidden;
}

table.calendar div.starting {
  background: #5BC0DE;
}

table.calendar div.due {
  background: #D9534F;
}

table.calendar div.completed {
  background: #5CB85C;
}

table.calendar div.developers {
  overflow-y: scroll;
}


table.calendar div.Andrew {
  background: #37C;
}

table.calendar div.Bo {
  background: #39B;
}

table.calendar div.Parun {
  background: #37C;
}

table.calendar div.Rashmi {
  background: #39B;
}

table.calendar div.Sankar {
  background: #37C;
}